<div class = "row">
    <div class = "col-lg-12">
        <h1> <%= @tourist_location[:location_name] %> </h1>
        <p> <%= @tourist_location [:description] %> </p>
        <p> Top places to vist in  <%= @tourist_location[:location_name]%> : <%= @tourist_location[:top_things] %> </p> 
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
            &q=<%= @lat%>, <%=@lng %> &zoom=6" allowfullscreen>
      </iframe>
    </div>
</div>

<div class = "row">
    <div class = "col-lg-12">
        <h2> Reviews </h2>
    <% for review in @reviews %>
        <p> 
        Name: <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %> <br>
        Age: <%= review[:age]%> <br>
        Who were you traveling with: <%= review[:travel_with]%> <br>
        Travel Style: <%= review[:travel_style]%> <br>
        Top Place to Visit: <%= review[:top_place]%> <br>
        Hidden Gem: <%= review[:hidden_gem]%> <br>
        Tourist Trap: <%= review[:tourist_trap]%> <br>
        Top Restaurant: <%= review[:top_restaurant]%> <br>
        General Trip Comments: <%= review[:comments] %> <br>
        </p>
    <% end %>
     </div>
</div>

<div class = "row">
    <div class = "col-lg-12">
         <a href="/touristlocations/<%= @tourist_location[:id]%>/reviews/new" class="btn btn-primary">Add your own REVIEW!</a>
    </div>
</div> 



